---
import DefaultPageLayout from '$/layouts/default.astro'
import PostDraftPreviewList from '$/components/PostDraftPreviewList.astro'
import Paginator from '$/components/Paginator.astro'
import { SITE, PAGE_SIZE } from '$/config'

let title = 'Borradores'
let description = 'Estas viendo una lista de las recetas no publicadas. Pueden no es estar terminadas o con errores...'

export async function getStaticPaths({ paginate, rss }) {
    let allPosts = []
    try {
        allPosts = await Astro.glob('./*.md');
    } catch(error) {
        console.log('No se han encontrado borradores de publicaciones al generar la página de índice para las páginas de borrador')
    }
    const sortedPosts = allPosts.sort((a, b) => new Date(b.date) - new Date(a.date));

    return paginate(sortedPosts, {
      pageSize: PAGE_SIZE
    })
}

const { page } = Astro.props
---
<DefaultPageLayout content={{ title, description }}>
    {
        (SITE.listDrafts) ? <PostDraftPreviewList posts={page.data} /> : (<p class="text-gray-700 dark:text-gray-100">Parece que has acabado en una página de publicaciones no publicadas. Encuentra todas las publicaciones publicadas <a href="/blog">aquí</a>!</p>)
    }
    <Paginator page={page} />
</DefaultPageLayout>
